<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<h1>A Tribute Page</h1>
    <image=>
    <!-- word- wrap -->
    <!-- formatting tags-->
</head>
<body>
    <p>
        <b>A.P.J.<mark>Abdul</mark>Kalam</b> (born 15 October 1931) is an <strong>"Missile Man of India,"</strong><i>handed batter</i> and a <em></em>. A.P.J. Abdul Kalam, often referred to as the "Missile Man of India," was a prominent Indian scientist and politician who served as the 11th President of India from 2002 to 2007. He was born on October 15, 1931, in Rameswaram, Tamil Nadu, India, and passed away on July 27, 2015.
    Kalam was a key figure in India's space and missile development programs. He played a pivotal role in the development of India's first satellite launch vehicle and ballistic missile programs. His contributions to India's defense technology earned him respect and admiration both within India and internationally.
    Apart from his scientific achievements, Kalam was known for his inspirational speeches and writings. He was a strong advocate for education and believed in the power of youth to drive positive change in society. His simplicity, humility, and dedication to serving the nation made him immensely popular among people of all ages.
    Even after his presidency, Kalam continued to engage with students and young people, encouraging them to dream big and work hard to achieve their goals. He authored several books, including "Wings of Fire" and "Ignited Minds," which continue to inspire millions around the world.
    Kalam received numerous awards and honors, including the Bharat Ratna, India's highest civilian award, for his contributions to science, technology, and education. He remains a revered figure in India and continues to be remembered for his vision, wisdom, and indomitable spirit. <br><hr>
    
    <hr>
    
    </p>
    Wikipedia <a href="https://en.wikipedia.org/wiki/A._P._J._Abdul_Kalam" target="_blank">Link</a>, initial-scale=1.0">
    <title>Document</title>
</body>
</html>